:root{
    --btn-font-family: 'Source Sans Pro';
--btn-font-weight: 600;
--btn-border-width: 1px;
--btn-disabled-opacity: 0.65;

--color-golden-yellow: #fcb112;
--color-golden-yellow-light: #fffbf3;
--color-golden-yellow-light-10: #f0e3c8;
--color-golden-yellow-light-20: #fffdd0;
--color-golden-yellow-light-30: #eecb80;
--color-golden-yellow-dark: #e0aa36;
--color-golden-yellow-dark-10: #e39f10;
--color-golden-yellow-dark-15: #d6960f;
--color-salmon: #ff8765;
--color-white: #ffffff;
--color-black: #000000;
--color-grey: #f6f6f6;
--color-greyblue: #7eb7b7;
--color-charcoal-light-50: #93a3a9;
--color-charcoal: #264653;
--color-charcoal-light-10: #25596d;
--color-charcoal-light-95: #f4f6f6;
--color-charcoal-light-25: #5c747e;
--color-charcoal-light-35: #818d92;
--color-charcoal-light-75: #c9d1d4;
--color-charcoal-light-85: #dee3e5;
--color-charcoal-dark: #132329;
--color-charcoal-dark-75: #0a1215;

--color-persian-green-light-25: #cae7e3;
--color-persian-green-light-50: #94cec7;
--color-persian-green-light-75: #cae7e3;
--color-persian-green: #2a9d8f;
--color-persian-green-dark-25: #1f766b;
--color-persian-green-dark-50: #154f47;
--color-persian-green-dark-75: #0a2724;
--color-persian-green-dark-95: #264653;
--color-sky-blue: #67b9b9;
--color-sky-blue-dark: #5ba2a2;
--color-sky-blue-light: #a7d5d5;
--color-dark-blue: #25596d;
--color-burnt-sienna-light: #f5bcab;
--color-burnt-sienna: #e76f51;
--color-burnt-sienna-dark-10: #d06449;
--color-burnt-sienna-dark-25: #ad533d;

--color-red-light: #f8eae6;
--color-blue: #85a7d2;
--color-blue-light: #eef2fa;
--color-green: #3ea378;
--color-green-light: #e9faf1;
--color-blue-dark: #306ab0;
--greyish-brown: #4a4a4a;
--color-submarine: #93a3a9;
--color-pale-grey: #dfeff1;
--color-brownish-orange: #c96e23;

}
/*header*/
.neighbour-name {
    font-size: 2rem;
    line-height: 1rem;
    font-weight: bold;
    color:var(--color-persian-green);
  }
  .font-circuler-std {
    font-family: 'DM Sans', sans-serif;
  }
  .province-text {
    font-size: 2rem !important;
    line-height: 1rem;
    font-weight:500;
    margin-left: -15%;
    
  }
  .text-f-6 {
    font-size: 1.2rem !important;
    font-weight: 600;
  }
  .text-f-61{
    font-size: 1.3rem !important;
    font-weight: 600;
  }
  @media only screen and (max-width:1115px){
    .neighbour-name{
         margin-left:-2em ;
    }
  }
  @media only screen and (max-width:1000px){
    .himg{
      width:95px !important;
      height: 50px !important;
    }
    .neighbour-name{
      font-size: 1.6rem !important;
    
    }
    .province-text{
      font-size: 1.6rem !important;
      margin-left: .5%;
    }
    .text-f-6{
      font-size: 1rem !important;
      font-weight: 500 !important;
    }
    .heimg{
      width:56px !important;
      height:56px !important;
    }
  }
  @media only screen and (max-width:938px)
  {
    .neighbour-name{
      font-size: 1.5rem !important;
    }
    .province-text{
      font-size:1.5rem !important;
    }
    .text-f-6{
      font-size: .9rem !important ;
    }
    .heimg{
      width:52px;
      height:52px;
    }
  }
  @media only screen and (max-width:870px)
  {
    .himg{
      width:80px;
      height:50px;
    }
    .neighbour-name{
      font-size: 1.4rem !important;
    }
    .province-text{
      font-size:1.4rem !important;
    }
    .text-f-6{
      font-size: .8rem !important ;
    }
    .heimg{
      width:48px;
      height:48px;
    }

  }
  @media only screen and (max-width:826px)
  {
    .himg{
      width:70px;
      height:40px;
    }
    .neighbour-name{
      font-size: 1.3rem !important;
    }
    .province-text{
      font-size:1.3rem !important;
    }
    .text-f-6{
      font-size: .7rem !important ;
    }
    .heimg{
      width:44px;
      height:44px;
    }

  }
  @media only screen and (max-width:779px)
  {
    
    .neighbour-name{
      width:50%;
      margin-left: 2em;
    }
    .province-text{
     width:30%
    }
   
  }
  @media only screen and (max-width:710px)
  {
    
    .himg{
      width:60px;
      height:35px;
    }
    .neighbour-name{
      font-size: 1.3rem !important;
    }
    .province-text{
      font-size:1.3rem !important;
    }
    .text-f-6{
      font-size: .6rem !important ;
    }
    .heimg{
      width:40px;
      height:40px;
    }

   
  }


  

  /*overview card */

  .u-bg{
    background-color: var(--color-persian-green-dark-25);
  }
  .font-weight-400{
    font-weight: 400;
  }
  .text-f-4 {
    font-size: 0.8rem ;
  }
  .item{
     
     padding-left: 10px;
  }
  .item1{
    padding-left: 90px;
  }
  
  .checked{
    color:orange;
  }
  
  .text-f-4-5 {
      font-size: 0.9rem !important;
  }
  
  .font-weight-600{
    font-weight:600;
  }
  .box1{
    margin-top: 20px;
    width:48%;
  }
  .navi{
    padding-top: 15px;
  }
  .walk{
    padding-left:40px;
  }
  @media only screen and (max-width:1000px)
  {
    .ovcl{
      width:60% !important;
      
    }
    .ovcle{
      width:100% !important;
      margin-left: none;
    }
    .ovimg{
      height:25px !important;
      width:25px !important;
    }
    .ovtxt{
      font-size:0.7rem !important;
    }
    .ovstxt{
      font-size: 0.7rem !important;
    }
    .fa{
      height: 6px;
      width:6px;
      padding-left:12px;
    }
    .item1{
      padding-left: 0px !important;;
    }
    .bg-primary{
      min-height: 23rem !important;
      width: 36% !important;
    }

  }
  @media only screen and (max-width:938px)
  {
    .ovcl{
      width:64% !important;
      
    }
    .ovcle{
      width:100% !important;
      margin-left: none;
    }
    .ovimg{
      height:25px !important;
      width:25px !important;
    }
    .ovtxt{
      font-size:0.7rem !important;
    }
    .ovstxt{
      font-size: 0.7rem !important;
    }
    .fa{
     font-size: .7rem !important;

      }
    .item1{
      padding-left: 0px !important;
      width:42% !important;
    }
    .bg-primary{
      min-height: 21rem !important;
      width:34% !important;
    }
  }
   
  @media only screen and (max-width:877px)
  {
    .ovcl{
      width:66% !important;
      
    }
    .ovcle{
      width:100% !important;
      margin-left: none;
    }
    .ovimg{
      height:20px !important;
      width:20px !important;
    }
    .ovtxt{
      font-size:0.65rem !important;
    }
    .ovstxt{
      font-size: 0.65rem !important;
    }
    .fa{
     font-size: .7rem !important;

      }
    .item1{
      padding-left: 0px !important;
      width:42% !important;
    }
    .bg-primary{
      min-height: 19rem !important;
      width:31% !important;
    }
  }
  @media only screen and (max-width:793px)
  {
    .ovcl{
      width:69% !important;
      
    }
    .ovcle{
      width:100% !important;
      margin-left: none;
    }
    .ovimg{
      height:20px !important;
      width:20px !important;
    }
    .ovtxt{
      font-size:0.65rem !important;
    }
    .ovstxt{
      font-size: 0.65rem !important;
    }
    .fa{
     font-size: .7rem !important;

      }
    .item1{
      padding-left: 0px !important;
      width:42% !important;
    }
    .bg-primary{
      min-height: 17rem !important;
      width:29% !important;
    }
  }
  @media only screen and (max-width:764px)
  {
    .ovcl{
      width:69% !important;
      
    }
    .ovcle{
      width:100% !important;
      margin-left: none;
    }
    .ovimg{
      height:18px !important;
      width:18px !important;
    }
    .ovtxt{
      font-size:0.55rem !important;
    }
    .ovstxt{
      font-size: 0.55rem !important;
    }
    .fa{
     font-size: .6rem !important;

      }
    .item1{
      padding-left: 0px !important;
      width:42% !important;
    }
    .bg-primary{
      min-height: 17rem !important;
      width:29% !important;
    }
  }
        



/*Real Estate*/
.sectionHeader {
  border-bottom: 4px solid var(--color-persian-green);
  padding-bottom: 0.4rem;
}
  .icon {
    font-size: 1rem !important;
  }
  .mainText {
    font-size: 2rem;
    color: var(--color-charcoal);
    font-weight: 450;
    padding-left:.6rem;
  }
  .subtext {
    font-size: 1.6rem;
    color: var(--color-persian-green);
  }
  .Real{
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 30px;
  }
  .color-charcol{
      color:var(--color-charcoal);

  }
  .dwelling-table {
    overflow: auto;
    }
    .heading {
      font-size: 0.4rem;
      color: var(--color-charcoal);
      font-weight: 600;
    }
    .border-dotted {
      border-bottom: 0.6px dotted var(--color-charcoal-light-50);
    }
    .content {
      font-size: 0.35rem;
      color: var(--color-charcoal-light-50);
    }
    .color-charcoal-dark{
      color:var(--color-charcoal)
    }
  

  .chart-background {
    background: #f8ddae;
  }
  .bg-color-persian-green{
    background-color: var(--color-persian-green);
  }
  .tbl{
    margin-left: 2em;
  }
  .text-f-8-6 {
    font-size: 0.86rem !important;
  }
  .val1{
    font-size:2em;
    padding-top: 20px;
  }
  .year{
    margin-top: -30px;
  }
  #donut_single{
    margin-left:3em;
    
  }
  @media only screen and (max-width:1000px){
     #donut_single{
       width:240px;
       height:240px;
       margin-left:5rem !important;

     }
  }
  @media only screen and (max-width:929px){
    .fir{
      width:2.4rem;
      height:2.4rem;
    }
    .mainText{
      font-size: 1.8rem;
    }
    .subtext{
      font-size:1rem;
    }
    .text-f-8-6{
      font-size: .7rem !important;
    }
    .chart-background{
      height:43vh;
    }
    .year{
      width:38% !important;
    }
    .years{
      font-size:1.1em !important
    }
    #donut_single{
      width:220px;
      height:220px;
      margin-left:3rem;

    }
    
 }

 @media only screen and (max-width:882px){
  .fir{
    width:2.4rem;
    height:2.4rem;
  }
  .mainText{
    font-size: 1.8rem;
  }
  .subtext{
    font-size:1.5rem;
  }
  .text-f-8-6{
    font-size: .7rem !important;
  }
  .chart-background{
    height:43vh;
  }
  .year{
    width:42% !important;
  }
  .years{
    font-size:1.1em !important
  }
  #donut_single{
    width:200px;
    height:200px;
    margin-left:2rem;

  }
  
}

@media only screen and (max-width:882px){
  .fir{
    width:2.4rem;
    height:2.4rem;
  }
  .mainText{
    font-size: 1.8rem;
  }
  .subtext{
    font-size:1.5rem;
  }
  .text-f-8-6{
    font-size: .6rem !important;
  }
  .chart-background{
    height:41vh;
  }
  .year{
    width:42% !important;
  }
  .years{
    font-size:1.1em !important
  }
  #donut_single{
    width:180px;
    height:180px;
    margin-left:3rem;

  }
  
}

@media only screen and (max-width:765px){
  .fir{
    width:2.2rem;
    height:2.2rem;
  }
  .mainText{
    font-size: 1.8rem;
  }
  .subtext{
    font-size:1.5rem;
  }
  .text-f-8-6{
    font-size: .5rem !important;
  }
  .chart-background{
    height:41vh;
  }
  .year{
    width:48% !important;
  }
  .years{
    font-size:1.1em !important
  }
  #donut_single{
    width:150px !important;
    height:150px !important;
    margin-left:3rem !important;

  }
  
}

@media only screen and (max-width:740px){
  .fir{
    width:2.2rem;
    height:2.2rem;
  }
  .mainText{
    font-size: 1.6rem;
  }
  .subtext{
    font-size:1.3rem;
  }
  .text-f-8-6{
    font-size: .5rem !important;
  }
  .chart-background{
    height:37vh;
  }
  .year{
    width:54% !important;
  }
  .years{
    font-size:1.1em !important
  }
  #donut_single{
    width:100px !important;
    height:100px !important;
    margin-left:3rem !important;

  }

  
}

  
 
  

  /*demographics*/
  .demographics {
    background-color: var(--color-persian-green-light-75);
    padding-left: 0.9rem 0.2rem;
    height:9rem;
  }
    .dheading {
      font-size: 1.1rem;
      color: var(--color-charcoal);
      font-weight: 500;
      margin-top:1rem;
    }

    .maintext {
      font-size: 2rem;
      color: var(--color-persian-green);
      font-weight: bold;
      padding-left: .5em;
    }
    .yellow{
     background-color:  #E9C46A;
    }
    .dsectionHeader {
      border-bottom: 4px solid var(--color-persian-green);
      padding-bottom: 0.7rem;
    }

    @media only screen and (max-width:1000px){
     .deimg{
       width:2.2rem !important;
     }
     .dheading{
       font-size: 1rem !important;
     }
     .dhimg{
       height: 2.3rem !important;
     }

     .maintext{
       font-size:1.6rem !important;
     }
     .dcon{
       margin-left: -1rem !important;
     }
    }

    @media only screen and (max-width:959px){
      .deimg{
        width:2rem !important;
      }
      .dheading{
        font-size: .8rem !important;
      }
      .dhimg{
        height: 2.2rem !important;
      }
      .maintext{
        font-size:1.6rem !important;
      }
      .dcon{
        margin-left: -1rem !important;
      }
     
     }
    
     @media only screen and (max-width:920px){
      .deimg{
        width:2rem !important;
      }
      .dheading{
        font-size: .7rem !important;
      }
      .dhimg{
        height: 2.1rem !important;
      }
      .maintext{
        font-size:1.4rem !important;
      }
      .dcon{
        margin-left: -1rem !important;
      }
      .demographics{
        height:7rem;
      }
     }
     @media only screen and (max-width:854px)
     {
       .dem{
         margin-left: -.2em !important;
       }
       .dheading{
         font-size: .6em !important;
       }
     }
     @media only screen and (max-width:810px)
     {
       .dem{
         margin-left: -.6em !important;
       }
       .dheading{
         font-size: .6em !important;
       }
     }
     @media only screen and (max-width:789px){
       .demo{
            font-size: 1.6em !important;
       }
       .edu{
         font-size: 1.3em !important ;
       }
      .deimg{
        width:1.8rem !important;
      }
      .dheading{
        font-size: .6rem !important;
      }
      .dhimg{
        height: 2.1rem !important;
      }
      .dhpe{
        height:1.1rem !important;
      }
      .doimg{
        height:1.6rem  !important;
      }
      .maintext{
        font-size:1.2rem !important;
      }
      .dcon{
        margin-left: -1rem !important;
      }
      .demographics{
        height:7rem;
      }
      .dem{
        margin-left: -.6em !important;
      }
      .hou{
        width:42% !important;
        margin-left:-1.4em !important;
      }
      .edsubtext {
        font-size: 1.6rem;
        color: var(--color-persian-green);
      }
      
     }
     @media only screen and (max-width:758px)
     {

    
     .edsubtext {
      font-size: 1.5rem !important;
      color: var(--color-persian-green);
    }
    }
    @media only screen and (max-width:734px)
     {

    
     .edsubtext {
      font-size: 1.4rem !important;
      color: var(--color-persian-green);
    }
    }
     @media only screen and (max-width:725px){
       .dcon{
         margin-left: -1.8em !important;
       }
     }

    
   

  /*seconddemographics*/
  .secondDemographics {
    padding: 0.6rem 0.2rem;
  
    color: var(--color-charcoal);
  }
    .sdheading {
      font-size: 1.1rem;
      font-weight: 500;
    }
    .sdcontent {
      font-size: 0.8rem;
      font-weight: 700;
    }
    .sdsmall-text {
      font-size: 0.43rem;
      color:var(--color-charcoal)
    }
    .sdsubtext {
      font-size: 0.8rem;
      color: var(--color-charcoal-light-50);
    }
    .border-right {
      border-right: 1px solid var(--color-charcoal-light-50);
      padding-right: 0.6rem !important;
    }
    
    @media only screen and (max-width:1000px){
      .sdheading{
         font-size: .8rem !important;
      }
      .sdcontent{
         font-size: .7rem !important;
      }
      .sdsubtext{
          font-size: .7rem !important;
      }
      .avg{
         width:19% !important;
      }
     .lan{
       margin-left:-2rem !important;
     }
     .secondDemographics{
       width:100% !important;
     }
    }
      
    @media only screen and (max-width:923px){
      .sdheading{
         font-size: .7rem !important;
      }
      .sdcontent{
         font-size: .6rem !important;
      }
      .sdsubtext{
          font-size: .6rem !important;
      }
      .avg{
         width:19% !important;
      }
     .lan{
       margin-left:-2rem !important;
     }
     .secondDemographics{
       width:100% !important;
     }
     .dollar{
         width:20px;
         height:18px;
     }
     .sch{
        width:20px;
        height:18px;
     }
     .car{
        width:20px;
        height:22px;
     }
     .train{
       width:20px;
       height:22px;
     }
    }

    @media only screen and (max-width:810px){
      .sdheading{
         font-size: .7rem !important;
      }
      .sdcontent{
         font-size: .6rem !important;
      }
      .sdsubtext{
          font-size: .6rem !important;
      }
      .avg{
         width:19% !important;
         padding-right:.1em !important;
         width:15% !important
         
      }
      .meth{
        margin-left:-4rem!important;
      }
     .lan{
       margin-right:3rem !important;
      
     }
     .secondDemographics{
       width:120% !important;
     }
     .dollar{
         width:20px;
         height:18px;
     }
     .sch{
        width:20px;
        height:18px;
     }
     .car{
        width:20px;
        height:22px;
     }
     .train{
       width:20px;
       height:22px;
     }
     .edu{
       width:10% !important;
       margin-left: -2rem !important;
     }
     .lani{
       padding-left: .5em !important;
     }
     .laned{
       padding-left: 1.6em !important
     }
    }
      
    @media only screen and (max-width:756px){
      .sdheading{
         font-size: .6rem !important;
      }
      .sdcontent{
         font-size: .6rem !important;
      }
      .sdsubtext{
          font-size: .45rem !important;
      }
      .avg{
         width:19% !important;
         padding-right:.1em !important;
         width:15% !important
         
      }
      .meth{
        margin-left:-4rem!important;
      }
     .lan{
       margin-right:3rem !important;
      
     }
     .secondDemographics{
       width:120% !important;
     }
     .dollar{
         width:20px;
         height:18px;
     }
     .sch{
        width:20px;
        height:18px;
     }
     .car{
        width:20px;
        height:22px;
     }
     .train{
       width:20px;
       height:22px;
     }
     .edu{
       width:10% !important;
       margin-left: -2rem !important;
     }
     .lani{
       padding-left: .5em !important;
     }
     .laned{
       padding-left: 1.6em !important
     }
    }
      

    

    /*Healthcare*/

   .hheading {
      font-size: 2.1rem;
      font-weight: 400;
      color:var(--color-charcoal);
      padding-left:.8rem;
    }
    .hsectionHeader {
      border-bottom: 4px solid var(--color-persian-green);
      padding-bottom: 0.4rem;
      padding-left: 1rem;
    }
    .text-f-5 {
      font-size: 1.05rem !important;
    }
    .pdfContainer{
      height: 5rem !important;
      width:17em;
      display:block;

      }

    .rounded-top {
        border: 1px solid var(--color-charcoal-light-75);
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        padding: 0.3rem;
      }
      .rounded-bottom {
        border: 1px solid var(--color-charcoal-light-75);
        padding: 0.3rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .address-text {
        font-size: 0.8rem;
        line-height: 1.1rem;
        color: var(--color-charcoal-light-25);
      }
      .heading-text {
        font-weight: bold;
        font-size: 1.1rem !important;
        line-height: 1rem;
        color: var(--color-charcoal-light-25);
      }
      .distance-text {
        font-size: 0.6rem;
        color: var(--color-charcoal-light-25);
      }
      @media only screen and (max-width:1000px){
          .phar{
            margin-left:5% !important;
          }
          .hlt{
            margin-left:5% !important;
          }
          .fp{
            font-size:.8rem !important;
          }
          .fps{
            font-size:.7rem !important;
            margin-left: 2rem !important;
          }
          .fpc{
            font-size:.8rem !important;
          }
          .fpsc{
            font-size:.7rem !important;
            margin-left: 7rem !important;
          }
          .fph{
            font-size:.8rem !important;
          }
          .fpsh{
            font-size:.7rem !important;
            margin-left: 2rem !important;
          }
      }
      
      
    
      /*elementaryschool*/
     .ssectionHeader {
        border-bottom: 4px solid var(--color-persian-green);
        padding-bottom: 0.4rem;
        margin-left: 1.3rem;
      }
      .smain-text{
        font-size: 2rem;
        font-weight: 400;
        color:var(--color-charcoal);
        padding-left:.8rem;
      }
      .border-light-75 {
        border: 1px solid var(--color-charcoal-light-75);
        border-radius: 0.5rem;
      }
      .school-card-height-pdf {
        min-height: 13.5rem;
        min-width:10rem
      }
      .dot {
        height: 10px;
        width: 10px;
        border-radius: 50% !important;
      }
      .color-persian-green{
        color:var(--color-persian-green);
      }
      .color-charcoal-light-25{
        color:var(--color-charcoal-light-25)
      }
      .color-charcol{
        color:var(--color-charcoal);
      }
      .border-light-75 {
        border: 2px solid var(--color-charcoal-light-75);
        border-radius: 0.6rem;
      }
      .bg-color-persian-green-light-25{
        background-color:var(--color-persian-green-light-25);
        border-radius: .5em;
      }

      .border-persian{
        border: 2px solid;
        color: var(--color-persian-green);

      }
      .setext-f-6 {
        font-size: 1.4rem !important;
        font-weight: 600;
      }
      @media only screen and (max-width:1115px){
        .cli{
          width: 28% !important;
        }
        .phar{
          width:29%!important;
           
        }
        

        .hlt{
          width:28% !important
        }
        .more{
          margin-left:-1em;
        }
        
      }
      @media only screen and (max-width:1094px){
      
        .cli{
         width:30% !important
        }
         
       }
     

      /*Day care*/
     .rounded1{
        border-radius: .5rem;
      }
      .dschool-card-height-pdf {
        min-height: 12rem;
        min-width:8rem
      }
      .bg-color-charcoal{
        background-color: var(--color-charcoal);
      } 
      .web-minHeight {
        min-height: 8rem;
      }
      /*groceries*/
      .pdfHeight {
        min-height: 10rem !important;
        min-width:16rem
      }
      .border-left-gc {
        border-left: 2px solid var(--color-charcoal-light-75);
      }
      .border-right-gc {
        border-right: 2px solid var(--color-charcoal-light-75);
      }
      .border-top-gc {
        border-top: 2px solid var(--color-charcoal-light-75);
      }
      .border-bottom-gc {
        border-bottom: 2px solid var(--color-charcoal-light-75);
      }

      .bg-color-persian-green-light-50{
        background-color: var(--color-persian-green-light-50);
      }
      .gtext-f-4 {
        font-size: 1.3rem !important;
      }
      .color-75{
        color:var(--color-charcoal-light-50)
      }
     
       
      @media only screen and (max-width:1089px){
      
        .smain-text{
          font-size: 1.6rem !important;
        }
        .subtext{
          font-size: 1.6rem !important;
        }
        .hheading{
          font-size:1.6rem;
        }
        .mainText{
          font-size: 1.6rem;
        }
         
       }
       @media only screen and (max-width:1066px)
       {
        .province-text{
          padding-left: 3rem !important;
        }
       }
       @media only screen and (max-width:1096px)
       {
             #donut_single{
               margin-left:-1rem;
             }
       }
       @media only screen and (max-width:1062px)
       {
         
         .rese{
            width: 47%!important;
         }
         .pdfHeight{
           min-width:14rem;
         }
         
         
      }

       

         
     
       

     
        
        
      
     
    
    
    
    
    
    



  
  
  
  