:root{
    --btn-font-family: 'Source Sans Pro';
--btn-font-weight: 600;
--btn-border-width: 1px;
--btn-disabled-opacity: 0.65;

--color-golden-yellow: #fcb112;
--color-golden-yellow-light: #fffbf3;
--color-golden-yellow-light-10: #f0e3c8;
--color-golden-yellow-light-20: #fffdd0;
--color-golden-yellow-light-30: #eecb80;
--color-golden-yellow-dark: #e0aa36;
--color-golden-yellow-dark-10: #e39f10;
--color-golden-yellow-dark-15: #d6960f;
--color-salmon: #ff8765;
--color-white: #ffffff;
--color-black: #000000;
--color-grey: #f6f6f6;
--color-greyblue: #7eb7b7;
--color-charcoal-light-50: #93a3a9;
--color-charcoal: #264653;
--color-charcoal-light-10: #25596d;
--color-charcoal-light-95: #f4f6f6;
--color-charcoal-light-25: #5c747e;
--color-charcoal-light-35: #818d92;
--color-charcoal-light-75: #c9d1d4;
--color-charcoal-light-85: #dee3e5;
--color-charcoal-dark: #132329;
--color-charcoal-dark-75: #0a1215;

--color-persian-green-light-25: #cae7e3;
--color-persian-green-light-50: #94cec7;
--color-persian-green-light-75: #cae7e3;
--color-persian-green: #2a9d8f;
--color-persian-green-dark-25: #1f766b;
--color-persian-green-dark-50: #154f47;
--color-persian-green-dark-75: #0a2724;
--color-persian-green-dark-95: #264653;
--color-sky-blue: #67b9b9;
--color-sky-blue-dark: #5ba2a2;
--color-sky-blue-light: #a7d5d5;
--color-dark-blue: #25596d;
--color-burnt-sienna-light: #f5bcab;
--color-burnt-sienna: #e76f51;
--color-burnt-sienna-dark-10: #d06449;
--color-burnt-sienna-dark-25: #ad533d;

--color-red-light: #f8eae6;
--color-blue: #85a7d2;
--color-blue-light: #eef2fa;
--color-green: #3ea378;
--color-green-light: #e9faf1;
--color-blue-dark: #306ab0;
--greyish-brown: #4a4a4a;
--color-submarine: #93a3a9;
--color-pale-grey: #dfeff1;
--color-brownish-orange: #c96e23;

}
.headcolor{
  color:#264653;
}
.sectionHeader {
  border-bottom: 4px solid var(--color-persian-green);
  padding-bottom: 0.8rem;
}

/*header */
.neighbour-name {
    font-size: 1.2rem;
    line-height: 1rem;
    font-weight: bold;
    color:#2a9d8f;
    padding-top:2rem;
    margin-left: 12%;
  }
  .font-circuler-std {
    font-family: 'DM Sans', sans-serif;
  }
  .province-text {
    font-size: 1.2rem ;
    line-height: 1rem;
    font-weight:500;
    margin-left: -10%;
    padding-top: 2rem;
    display: table-cell;
    
  }
  .htext-f-6 {
    font-size: .8rem;
    font-weight: 600;
  }
  .detail{
      margin-left:8%

  }
  .himg{
      height:4rem;
      padding-top:1rem;
  }
  .heimg{
    margin-top:1rem;
    margin-right:-4rem;
    
    
    
  }
  .heig{
    float:right;

  }
 
        
/*overview*/
.Otext-f-4 {
  font-size: 0.8rem ;
} 

.Otext-f-4-5 {
  font-size: 1rem ;
  font-weight:600;
}

.otxt{
  padding-left:.9rem;
  font-weight: 400
}
.fa{
  font-size: 15px !important;
  
}
.star{
  padding-left: 10px;
}
/*Real */
.text-f-6 {
  font-size: 1rem ;
  font-weight: 600;
}
.color-charcol{
  color:var(--color-charcoal);

}

.content {
  font-size: .6rem;
  color: var(--color-charcoal-light-50);
}
.bg-color-persian-green{
  background-color:var(--color-persian-green);
}
.rtext-f-8-6 {
  font-size: 0.5rem !important;
}
.color-charcoal-dark{
  color:var(--color-charcoal)
}
.chart-background {
  background: #f8ddae;
}
.button{
  width:50px;
  height:25px;
  background-color: #0a2724;
  border-radius: 7px;
  padding: 3px;
  font-size:10px;

}
/*sd*/
.sdheading {
  font-size: .8rem;
  font-weight: 500;
}
.sdcontent {
  font-size: 0.8rem;
  font-weight: 700;
}
.sdsubtext {
  font-size: 0.8rem;
  color: var(--color-charcoal-light-50);
}
.border-right {
  border-right: 2px solid var(--color-charcoal-light-50);
  padding-right: 0.6rem !important;
}

/*demo*/
.subhead{
  color:#2a9d8f
}
.dheading {
  font-size: 1rem;
  color: var(--color-charcoal);
  font-weight: 500;

}

.maintext {
  font-size: 1.5rem;
  color: #2a9d8f;
  font-weight: bold;
  padding-left: .5em;
}
.demographics {
  background-color: var(--color-persian-green-light-75);
}
.hth{
  font-size: 1.05rem;
  font-weight: 500;
}
.hsth{
  font-size:.8rem;
  font-weight: 400;
}
.heading-text {
  font-weight: bold;
  font-size: 1.1rem !important;
  line-height: 1rem;
  color: var(--color-charcoal-light-25);
}
.distance-text {
  font-size: 0.6rem;
  color: var(--color-charcoal-light-25);
}
.address-text {
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: var(--color-charcoal-light-25);
}
.dot{
  height: 10px;
  width: 10px;
  background-color: #2a9d8f;
  border-radius: 50%;
  display: inline-block;
}
.dottxt{
  color:#2a9d8f; font-weight:500;
}

.stext{
   color:#264653;
   font-size: 1.2rem ;
   font-weight:700
    
}

.sstext{
  color:#5c747e;
  font-weight:400;
}
.border-light-75 {
  border: 2px solid var(--color-charcoal-light-75);
  border-radius: 0.5rem;
}
.setext-f-6 {
  font-size: 1.4rem !important;
  font-weight: 600;
  color:var(--color-charcoal)
}.bg-color-persian-green-light-25

{
  background-color:var(--color-persian-green-light-25);
  border-radius: .5em;
}

.border-persian{
  border: 2px solid;
  color: var(--color-persian-green);

}


/*day care*/
.dmain-text{
  font-size: 2rem;
  font-weight: 400;
  color:var(--color-charcoal);
  padding-left:.8rem;
}

.dsubtext{
  
    font-size: 1.6rem;
    color: var(--color-persian-green);
  }
  .dbg-color-charcoal{
    background-color: var(--color-charcoal);
  } 
  
.bg-color-persian-green-light-50{
  background-color: #94cec7;
}

/*groceries*/
      .pdfHeight {
        min-height: 10rem;
        min-width:16rem
      }
      .border-left-gc {
        border-left: 2px solid var(--color-charcoal-light-75);
      }
      .border-right-gc {
        border-right: 2px solid var(--color-charcoal-light-75);
      }
      .border-top-gc {
        border-top: 2px solid var(--color-charcoal-light-75);
      }
      .border-bottom-gc {
        border-bottom: 2px solid var(--color-charcoal-light-75);
      }

      .bg-color-persian-green-light-50{
        background-color: var(--color-persian-green-light-50);
      }
      .gtext-f-4 {
        font-size: 1.3rem ;
      }
      .color-75{
        color:var(--color-charcoal-light-50)
      }

    /*health*/
    .hltbor{
    border: 2px solid var(--color-charcoal-light-75);
    }